
*{
    margin: 0;
    padding: 0;

}

body{
    min-height: 100vh;
    background-color: #e8e8e8;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.top{
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: flex-end;
    top: 300px;
    right: 10px;
    width: 100%;
}

.top a button{
    background-color: white;
}
.top a{
    float: inline-end;
}

.top a button i {
    font-size: 30px;
}
/* Nevigation Bar 1 and 2 Start */

nav{
    background-color: rgb(147, 144, 144);
    box-shadow: 3px 3px 5px rgb(100, 94, 94);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-self: center;
}

nav ul li{
    height: 50px;
    padding: 0, 50px;
}

nav ul li a{
    padding: 10px 20px;
    height: 34px;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
} 

nav ul li a:hover{
    background-color: white;
    color: black;

}

/* Sidebar Start for Nevigation 1 and 2 */

.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar-links, .navbar-link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  
  .toggle-btn {
    display: none;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding-left: 10px;
  }
  
  @media screen and (max-width: 800px) {
    .navbar-links, .navbar-link {
      display: none;
    }

    .navbar-links li, .navbar-link li {
      width: 100%;
    }

    .navbar-links li a, .navbar-link li a {
      display: block;
    }
    
    .toggle-btn {
      display: block;
    }
  }

  .header img{
    margin: 10px auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 250px;
  }

/* Slider Start */

/* Product Details Page Start */

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1fr, 2fr);
}
    .single-product{
        align-items: center;
        justify-content: center;
        /* padding-top: 200px; */
    }

    #Product-Img{
        height: 450px;
        width: 450px;
    }

    .single-product .col-2 img{
        padding: 0;
    }

    .single-product .col-2{
        padding: 20px;
    }
    
    .single-product h4{
        margin: 20px 0;
        font-size: 22px;
        font-weight: bold;  
    }

    .single-product select{
        display: block;
        padding: 10px;
        margin-top: 20px;
        border: 1px solid #ff523b;
    }

    .single-product option{
        font-size: 15px;

    }

    .single-product input{
        width: 30px;
        height: 30px;
        padding-left: 10px;
        font-size: 15px;
        margin-right: 20px;
        margin-top: 10px;
        border: 1px solid #ff523b;
    }

    input:focus{
        outline: none;
    }

    .single-product button{
        padding: 10px;
        background-color: #ff523b;
        border-radius: 25px;
        border: none;
    }

    .single-product button a{
        color: white;
        text-decoration: none;
        text-align: center;
    }

    .single-product button:hover{
        background-color: #fda499;
    }

    .single-product ul{
        font-weight: 500;
        font-size: 17px;
    }

    .small-img-row{
        display: flex;
        justify-content: space-between;
    }

    .small-img-col{
        flex-basis: 24%;
        cursor: pointer;
    }

    @media only screen and (max-width:600px){
        .row{
            text-align: center;
            display: flex;
            
        }
        .single-product .row{
            text-align: left;
        }
        .single-product .col-2{
            padding: 20px 0;
        }
        .single-product h1{
            font-size: 26px;
            line-height: 26px;
        }
    }


    .center-text h2{
        color: black;
        font-size: 28px;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .center-text span{
        color: #ff523b;
    }
    
    .center-text{
        padding: 40px 0px 5px 0px;
    }

.re-pro{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
    padding: 0px 15px 0px 15px;
}

.re-pro1{
    position: static;
    transition: all .40s;
    width: 100%;
}

.re-pro1 img{
    width: 100%;
    height: auto;
    transition: all .40s;
    border-radius: 15px;
}
.re-pro1 img:hover{
    transform: scale(0.9);
}

main{
    width: 100%;
    height: 1220px;
    background-color: #e8e8e8;
}





/* Footer Start */
.footer_body{
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: end;
    width: 100%;
    height: 300px;
    background-color: #333;
}

footer{
    position: static;
    width: 100%;
    padding: 50px 0px 20px 0px;
    background-color: #333;
    color: white;
}

footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 10px;
    color: white;
}

footer .container .sec-aboutus h2{
    position: static;
    background-color: #333;
    color: white;
    font-weight: 600;
    margin-bottom: 15px;
}

.body .container .sec-aboutus{
    padding-left: 10px;
}

footer .container .sec-aboutus p{
    background-color: #333;
    color: white;
}

.container .sec h2{
    font-size: 30px;
    font-weight: 500;
}

footer .container .sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
}

footer .container .sci li{
    list-style: none;
    color: white;
}

footer .container .sci li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: black;
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

footer .container .sci li a i{
    color: #fff;
    font-size: 20px;
}

footer .container .quicklinks{
    position: static;
}

footer .container .quicklinks ul li{
    list-style: none;
}

footer .container .quicklinks ul li a{
    color: white;;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;

}

footer .container .contact{
    padding-right: 10px;
}

footer .container .contact .info{
    position: static;
}

footer .container .contact .info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

footer .container .contact .info li span{
    color: white;
    font-size: 20px;
}

footer .container .contact .info li a{
    color: white;
    text-decoration: none;
}

.copyrightText{
    width: 100%;
    background: #333;
    text-align: center;
    color: white ;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.copyrightText p{
    padding: 15px;
}

@media (max-width: 800px) {
    footer{
        padding: 40px;
    }

    footer .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
    }

    .copyrightText{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 400px){
    footer .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
    }
}

/* Footer End */