
*{
    margin: 0;
    padding: 0;

}

body{
    min-height: 100vh;
    background-color: #e8e8e8;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.top{
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: flex-end;
    top: 300px;
    right: 10px;
    width: 100%;
}

.top a button{
    background-color: white;
}
.top a{
    float: inline-end;
}

.top a button i {
    font-size: 30px;
}
/* Nevigation Bar 1 and 2 Start */

nav{
    background-color: rgb(147, 144, 144);
    box-shadow: 3px 3px 5px rgb(100, 94, 94);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-self: center;
}

nav ul li{
    height: 50px;
    padding: 0, 50px;
}

nav ul li a{
    padding: 10px 20px;
    height: 34px;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
} 

nav ul li a:hover{
    background-color: white;
    color: black;

}

/* Sidebar Start for Nevigation 1 and 2 */

.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar-links, .navbar-link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  
  .toggle-btn {
    display: none;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding-left: 10px;
  }
  
  @media screen and (max-width: 800px) {
    .navbar-links, .navbar-link {
      display: none;
    }

    .navbar-links li, .navbar-link li {
      width: 100%;
    }

    .navbar-links li a, .navbar-link li a {
      display: block;
    }
    
    .toggle-btn {
      display: block;
    }
  }

  .header img{
    margin: 10px auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 250px;
  }


  /* Testimonial Page Start */

body{
    width: 100%;
    background-color: #e8e8e8;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.contai_test{
    position: relative;
    width: 100%;
    min-height: 400px;
    background-color: #f5f5f5;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.contai_test .contents-wraper{
    width: 70%;
    min-height: inherit;
    margin: 30px auto;
    text-align: center;
}
.contents-wraper .head h1{
    position: relative;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
}
.contents-wraper .head h1::before{
    content: '';
    width: 200px;
    height: 2px;
    background-color: #006994;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
.contents-wraper .testRow{
    width: 100%;
    min-height: inherit;
    position: relative;
    overflow: hidden;
}
.testRow .testItem{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testRow .testItem:not(.active){
    top: 0;
    left: -100%;
}
.testRow .testItem img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
    outline: 2px solid #006994;
    outline-offset: 2px;
}
.testRow .testItem h3{
    font-size: 30px;
    font-style: italic;
    padding: 7px;
}
.testRow .testItem h4{
    font-style: italic;
}
.testRow .testItem p{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.2;
    padding: 10px;
}
.contents-wraper .indicators{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    cursor: pointer;
}
.contents-wraper .indicators .dot{
    width: 15px;
    height: 15px;
    margin: 0px 3px;
    border: 3px solid #aaa;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}
.contents-wraper .indicators .active{
    background-color: #006994;
}
@keyframes next1{
    from{
        left: 0%;
    }
    to{
        left: -100%;
    }
}
@keyframes next2{
    from{
        left: 100%;
    }
    to{
        left: 0%;
    }
}

@keyframes prev1{
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}
@keyframes prev2{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}

@media(max-width: 550px){
    .contai_test .contents-wraper{
        width: 90%;
    }
    .contents-wraper .header h1{
        font-size: 32px;
    }
    .testRow .testItem h3{
        font-size: 26px;
    }
    .testRow .testItem p{
        font-size: 16px;
        letter-spacing: initial;
        line-height: initial;
    }

}









/* Footer Start */
.footer_body{
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: end;
    width: 100%;
    height: 300px;
    background-color: #333;
}

footer{
    position: static;
    width: 100%;
    padding: 50px 0px 20px 0px;
    background-color: #333;
    color: white;
}

footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 10px;
    color: white;
}

footer .container .sec-aboutus h2{
    position: static;
    background-color: #333;
    color: white;
    font-weight: 600;
    margin-bottom: 15px;
}

.body .container .sec-aboutus{
    padding-left: 10px;
}

footer .container .sec-aboutus p{
    background-color: #333;
    color: white;
}

.container .sec h2{
    font-size: 30px;
    font-weight: 500;
}

footer .container .sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
}

footer .container .sci li{
    list-style: none;
    color: white;
}

footer .container .sci li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: black;
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

footer .container .sci li a i{
    color: #fff;
    font-size: 20px;
}

footer .container .quicklinks{
    position: static;
}

footer .container .quicklinks ul li{
    list-style: none;
}

footer .container .quicklinks ul li a{
    color: white;;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;

}

footer .container .contact{
    padding-right: 10px;
}

footer .container .contact .info{
    position: static;
}

footer .container .contact .info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

footer .container .contact .info li span{
    color: white;
    font-size: 20px;
}

footer .container .contact .info li a{
    color: white;
    text-decoration: none;
}

.copyrightText{
    width: 100%;
    background: #333;
    text-align: center;
    color: white ;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.copyrightText p{
    padding: 15px;
}

@media (max-width: 800px) {
    footer{
        padding: 40px;
    }

    footer .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
    }

    .copyrightText{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 400px){
    footer .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
    }
}

/* Footer End */